@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Đổi Mật Khẩu";
}

<form class="ml-lg-auto ml-0 col-12 col-lg-12" style="border-radius: 10px; padding: 20px 20px; background: #fff; margin: 32px 500px; width: 500px;" method="post">
    @Html.AntiForgeryToken() <!-- Anti-forgery token -->
    <h2>Đổi Mật Khẩu</h2>
    <div class="form-group">
        <label for="oldPassword">Mật khẩu cũ</label>
        <input type="password" class="form-control" id="oldPassword" name="oldPassword" required />
    </div>
    <div class="form-group">
        <label for="newPassword">Mật khẩu mới</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required />
    </div>
    <div class="form-group">
        <label for="confirmPassword">Xác nhận mật khẩu mới</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
    </div>
    <button style="width: 110px; height:40px; font-weight:500; color:#fff; padding: 0px; margin: 0; margin-left: 171px; background-color: #C92127;" type="submit" class="btn ">Đổi Mật Khẩu</button>
    @if (ViewBag.ThongBao != null)
    {
        <div class="alert alert-danger mt-2">
            @ViewBag.ThongBao
        </div>
    }
    @if (ViewBag.ThongBaoSuccess != null)
    {
        <div class="alert alert-success mt-2">
            @ViewBag.ThongBaoSuccess
        </div>
    }
</form>