
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Đăng Ký";
}

<form class="ml-lg-auto ml-0 col-12 col-lg-12" style="border-radius: 10px; padding: 20px 20px; background: #fff; margin: 32px 500px; width: 500px;" method="post">
    <h2>Đăng Ký</h2>
    <div class="form-group">
        <label for="Ten">Họ và Tên</label>
        <input type="text" class="form-control" id="Ten" name="Ten" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
        @if (ViewBag.ThongBaoEmail != null)
        {
            <div class="alert alert-danger mt-2">
                @ViewBag.ThongBaoEmail
            </div>
        }
    </div>
    <div class="form-group">
        <label for="MatKhau">Mật Khẩu</label>
        <input type="password" class="form-control" id="MatKhau" name="MatKhau" required />
    </div>
    <div class="form-group">
        <label for="rePass">Xác Nhận Mật Khẩu</label>
        <input type="password" class="form-control" id="rePass" name="rePass" required />
        @if (ViewBag.ThongBao != null)
        {
            <div class="alert alert-danger mt-2">
                @ViewBag.ThongBao
            </div>
        }
    </div>
    <div class="form-group">
        <label for="rePass">Số Điện Thoại</label>
        <input type="tel" class="form-control" id="rePass" name="rePass" required />
        @if (ViewBag.ThongBao != null)
        {
            <div class="alert alert-danger mt-2">
                @ViewBag.ThongBao
            </div>
        }
    </div>
    <button style=" width: 100px; padding: 0px; margin: 0; margin-left: 171px; background-color: #C92127; border:none; color:#fff; border-radius:5px;" class="btn btn-primary">Đăng Ký</button>
</form>